# PostgreSQL connection
DB_HOST=physic-test-postgres
DB_PORT=5432
DB_DATABASE=study_physic_by_test
DB_USERNAME=study_physic_by_test
DB_PASSWORD=study_physic_by_test

# Auth
JWT_SECRET=change-me-to-a-long-random-secret
JWT_EXPIRES_IN=1d
REFRESH_TOKEN_EXPIRES_IN=2d
SALT_ROUND=10

# App
PORT=3000
NODE_ENV=development
